.container {
  padding-top: 20px;
  .row {
    .col-10 {
      margin-bottom: 20px;
      h1 {
        text-align: center;
      }
      .table {
        table-layout: fixed;
        word-wrap: break-word;
        th:nth-child(1) {
          width: 10%;
        }

        th:nth-child(2) {
          width: 30%;
        }

        th:nth-child(3) {
          width: 25%;
        }

        th:nth-child(4) {
          width: 10%;
        }

        th:nth-child(5) {
          width: 25%;
        }
        td {
          .remove-button {
            cursor: pointer
          }
        }
      }
      .is-show-completed {
        float: right;
      }
    }
  }
}









// .container {
//   padding-top: 20px;
// }
//
// h1 {
//   text-align: center;
// }
//
// .table {
//   table-layout: fixed;
//   word-wrap: break-word;
// }
//
// .table th:nth-child(1) {
//   width: 10%;
// }
//
// .table th:nth-child(2) {
//   width: 25%;
// }
//
// .table th:nth-child(3) {
//   width: 25%;
// }
//
// .table th:nth-child(4) {
//   width: 15%;
// }
//
// .table th:nth-child(5) {
//   width: 25%;
// }
//
// .is-show-completed {
//   float: right;
// }
